* {
  margin: 0;
  padding: 0;
}

body {
  width: 1280px;
  font-family: 'Montserrat', sans-serif;
}

.menu {
  text-align: center;
  padding: 25px;
}

li {
  display: inline;
  margin-right: 50px;
}

li:last-child {
  margin-right: 0;
}

li a {
  text-decoration: none;
  text-transform: uppercase;
  color: red;
  font-weight: bold;
  font-size: 20px;
}

.text-block {
  width: 1145px;
  margin: 0 67.5px;
}

.title {
  font-size: 22px;
  font-style: normal;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3.3px;
  margin-top: 48px;
}

.text {
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  letter-spacing: 2.4px;
}

.text-one {
  margin-top: 38px;
}

.text-two {
  margin-top: 28px;
}

.b {
  text-align: center;
  margin-bottom: 20px;
}

.button {
  font-family: Montserrat, sans-serif;
  width: 191px;
  height: 51px;
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1.8px;
  color: white;
  background: red;
  border: none;
  border-radius: 5px;
  margin-top: 66px;
}

footer {
  margin: 82px 105px 30px;
}

.footer-text {
  text-align: right;
  letter-spacing: 2.4px;
  font-size: 16px;
  font-weight: bold;
}
